body{
    background-color: rgb(0, 102, 255) ;
}

/* when viewpot width is min 1440px this will imply */
@media (min-width:140px){
    div{
        display: inline;
        color: black;
        font-size: 90px;
        align-items: center;
    }
    body{
        background-color: rgb(20, 255, 235);
    }
    div::after{
        content: 'This is a Media Query Demo Page.'
        
    }
}
/* when viewpot width is max 1440px this will imply */
@media (min-width:1024px) and (max-width :1440px) {
    div{
        display: inline;
        color: black;
        font-size: 85px;
        align-items: center;
        justify-content: center;
    }
    body{
        background-color: green;
    }
    div::after{
        content: 'This is a Media Query Demo Page.'
        
    }
}
/* when viewpot width is max 1024px this will imply */
@media (min-width:760px) and (max-width :1024px) {
    div{
        display: inline;
        font-size: 60px;
        align-items: center;
    }
    body{
        background-color: rgba(240, 184, 112, 0.671);
    }
    div::after{
        content: 'This is a Media Query Demo Page.'
    }
}


/* when viewpot width is max 768px this will imply */
@media (min-width:450px) and (max-width :768px){
/* @media (1800px < width <700px){ */
    div{
        display: inline;
        font-size: 60px;
    }
    body{
        background-color: aqua;
    } 
    div::after{
        content: 'This is a Media Query Demo Page.'
    }
}

@media (max-width:450px){
    div{
        display: inline;
        font-size: 60px;
    }
    body{
        background-color: rgb(192, 7, 7);
    }
    div::after{
        content: 'This is a Media Query Demo Page.'
    }
}